@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(142,139,193);
    color: rgb(255,255,255);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     font-family: "Arvo", serif;
}

#gamef1 {
    background-color: rgb(32,32,32);
    display: flex;
}

.card{
    width: 160px;
    height: 120px;
    background-color: rgb(68,127,255);
    border-left: solid rgb(61,116,233) 10px;
    border-right: solid rgb(37,87,196) 10px;
    border-top: solid rgb(1,61,200) 10px;
    border-bottom: solid rgb(31,31,135) 10px;
    text-align: center;
    font-size: 50px;
    margin: 5px;
    padding: 5px;
    line-height: 120px;


}
